<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" packages="org.apache.logging.log4j.core,io.sentry.log4j2">
    <appenders>
        <Console name="ConsoleStdOut" target="SYSTEM_OUT">
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="************************************************************************************** \n \n %d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n \n" />
        </Console>

        <Console name="ConsoleStdErr" target="SYSTEM_ERR">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="**************************************************************************************\n \n %d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n \n"/>
        </Console>

        <RollingFile name="Logfile" fileName="chat-log.out" filePattern="debug-backup-%d{MM-dd-yy-HH-mm-ss}-%i.log.gz">
            <PatternLayout pattern="[%-5level]  %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %m%n \n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <Sentry name="Sentry" />
    </appenders>

    <loggers>
        <root level="INFO">
            <appender-ref ref="Logfile"/>
            <AppenderRef ref="ConsoleStdOut" />
            <AppenderRef ref="ConsoleStdErr" />
            <!-- Note that the Sentry logging threshold is overridden to the WARN level -->
            <appender-ref ref="Sentry" level="WARN" />
        </root>
    </loggers>
</configuration>